## User settings
xcuserdata/
project.xcworkspace/
DerivedData/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# build products
build/

# CocoaPods
Pods/
# Add this line if you want to avoid checking in source code from the Xcode workspace
*.xcworkspace

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
